.footer {
  background: inherit;
  color: inherit;
  padding: 4rem 10rem;

  .footer-inner {
    display: flex;
    flex-direction: column;

    .footer-top {
      display: flex;
      padding: 2rem 0 3rem 0;
      justify-content: space-between;

      @media all and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
      @media all and (min-width: 769px) {
        flex-direction: row;
      }

      .footer-social-container {
        display: flex;
        justify-content: center;
        padding: 2rem;
        min-width: 200px;

        .footer-social {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100px;
          height: 100px;
          // bottom: .5rem;

          .footer-social-link {
            width: 50%;
            max-width: 50px;
            max-height: 50px;

            .footer-social-image {
              width: 50px;
              height: 50px;
              padding: .5rem;
            }
          }
        }
      }
      .footer-section-container {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 0rem 1rem;
        min-width: 200px;

        .footer-section-header {
          font-weight: bold;
          padding-bottom: .5rem;
        }

        .footer-section-links-container {
          display: flex;
          flex-direction: column;

          .footer-section-link {
            display: flex;
            padding: .5rem 0;
            text-decoration: none;
            color: inherit;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .footer-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 2rem;

      @media all and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
      @media all and (min-width: 769px) {
        flex-direction: row;
      }

      .footer-bottom-left {
        display: flex;
        flex-direction: column;

        @media all and (max-width: 768px) {
          align-items: center;
        }
        @media all and (min-width: 769px) {
          align-items: left;
        }

        
        .footer-logo-container {
          padding: 2rem 0;
        }
        .footer-bottom-left-link-container {
          display: flex;
          flex-direction: row;

          @media all and (max-width: 768px) {
            justify-content:space-between;
          }
          @media all and (min-width: 769px) {
            justify-content: flex-start;
          }

          .footer-bottom-link {
            color: white;
            text-decoration: none;
            font-weight: bold;

            @media all and (max-width: 768px) {
              padding: 0;
            }
            @media all and (min-width: 769px) {
              padding-right: 3rem;
            }
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      
      .footer-bottom-right {
        padding: 2rem 0;
        display: flex;
      }
    }
  }
  
}