.signin {
  padding: 0rem 1rem;

  .signin-section {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    padding: .8rem 0rem;

    .signin-label {
      font-weight: 300;
      padding-bottom:.7rem;
    }
    
    .signin-button {
      background: black;
      color: white;
      padding: .5rem;
      font-size: 1.3rem;
      border: 2px solid white;

      &:hover {
        background: white;
        color: black;
        border: 2px solid black;
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }
}