.infoblock {
  width: 600px;
  padding-bottom: 2rem;

  .infoblock-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
  }
  .infoblock-content {
    padding-top: 2rem;
    font-size: 30px;
  }
}
