.megasplash {
  display: flex;
  flex-direction: column;

  .megasplash-image-container-outer {
    position: relative;

    .megasplash-image-container {
      position: absolute;
    }
    
    .megasplash-image {
      margin-top: -150px;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
}

.homepage-header {
  font-weight: bold;
  font-size: 60px;
  color: white;
  z-index: 1;
  
  
  .homepage-header-inner {
    width: 800px;
    height: 300px;
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  .homepage-header-line {

  }

  .homepage-header-text {
    padding: 1rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.home-page {
  
  h2 {
    font-size: 1.5em;
  }
  
  section {
    margin: 3em auto;

    &:first-child {
      margin-top: 0;
    }

    &.centered {
      text-align: center;
    }
  }

  form {
    margin-bottom: 1em;

    input {
      outline: none;
      border-bottom: 1px dotted #999;
    }
  }

  span.at-prefix {
    color: black;
    margin-left: 0.4em;
  }

}

.info-tile-container {
  padding-top: 10rem;
  z-index: 0;

  .info-tile {
    display: flex;
    flex-direction:row;
    padding: 5.5rem 0rem;
    width: 100%;
    justify-content: space-between;

    .text {
      padding: 1rem 3rem;
    }
  }
} 

#info-tile-bottom {
  color: white;
  z-index: 0;
}
.bottom-semicircle-image-container {
  position: absolute;
  z-index: 0;

  .bottom-semicircle-image {
    width: 1680px;
    z-index: 0;
  }
}

#top-image {
  padding-top: 6rem;
  padding-left: 6rem;
}
#top-text {
  padding-right: 6rem;
}
#middle-image {
  padding-top: 10rem;
  padding-right: 6rem;
}
#middle-text {
  padding-left: 6rem;
}
#bottom-image {
  padding-left: 6rem;
  z-index: 1;
}
#bottom-text {
  padding-top: 6rem;
  padding-right: 6rem;
  z-index: 1;
}

.info-bottom-tile-container {
  position: relative;
  z-index: 0;
}

.blog-section {
  z-index: 1;
  justify-content: center;
  padding: 8rem 8rem;
  background: black;

  .blog-header {
    z-index: 1;
    padding: 2rem 0rem;
    text-align: center;
    color: #ECECEC;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 60px;
  }
  .blog-post-container {
    z-index: 1;
    display: flex;
    flex-direction: row;
    
    .blog-posts {
      padding: 0 1rem;
      width: 33%;

      .blog-posts-inner {
        background: #ECECEC;
        height: 520px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;

        .blog-title {
          padding-top: 1rem;
          text-decoration: none;
          color: black;
          font-family: 'Montserrat', sans-serif;
          font-weight: bold;
          font-size: 48px;
        }
        .blog-button-container {
          padding: 1rem 0;

          .blog-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;

            .blog-button-image-container {
              width: 20px;
              height: 20px;
            }
            .blog-button-label {
              padding-left: 1.5rem;
              color: #ED0544;
              font-size: 36px;
            }

            &:hover {
              text-decoration: underline;
              text-decoration-color: #ED0544;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
#top-button {
  background: #00A7D0;
  border: 1px solid #00A7D0;
  cursor: pointer;

  &:hover {
    background: black;
    border: 1px solid black;
    color: white;
    cursor: pointer;
  }
}
#middle-button {
  background: #ED0544;
  border: 1px solid #ED0544;
  color: white;
  cursor: pointer;

  &:hover {
    background: black;
    border: 1px solid black;
    color: white;
    cursor: pointer;
  }
}
#bottom-button {
  background: #76BC21;
  border: 1px solid #76BC21;
  cursor: pointer;

  &:hover {
    background: black;
    border: 1px solid white;
    color: white;
    cursor: pointer;
  }
}

.home-auth-button {
  display: flex;
  flex-direction: row;
  
  border-radius: 50px;
  width: 220px;
  text-align: middle;
  padding: .5rem 2rem;
  justify-content: center;
  align-items: center;
  
  text-decoration: none;
  color: white;

  &:hover {
    background: black;
    border: 1px solid white;
    text-decoration: underline;
  }

  .home-auth-button-image {
    filter: invert(100%);
  }
  .home-auth-button-label {
    padding-left: .5rem;
    font-size: 30px;
    color: inherit;
    
    &:hover {
      cursor: pointer;
    }
  }
}