.emailform-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.emailform {
  padding: 8rem 0;
  background-image: url('./images/EmailBackground.png');
  display: flex;
  justify-content: center;
  align-items: center;
}
.emailform-inner {
  width: 1316px;
  height: 503px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}
.hidden {
  visibility: hidden;
  height: 1px;
  width: 1px;
}
input {
    font-size: 20px;
    width: 65%;
    min-width: 370px;
    padding: 5px;
    border: solid 1px #194366;
    border-radius: 2px;
}
input:focus {
    border: solid 1px #194366;
    outline: none !important;
    box-shadow: none;
}
.emailform-header {
  color: #ED0544;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px; 
  padding-bottom: 2rem;
}
.emailform-header-button-container {
  display: flex;
  flex-direction: row;
}
.emailform-container {

  .emailform-input-outer {
    padding-bottom: 1rem;
  }
}
.emailform-left {
  width: 55%;
  padding-left: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emailform-right {
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}
.emailform-image {
  width: 80%;
}
.emailform-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.emailform-right-image-container {
  display: flex;
  .emailform-image {
    width: 100%;
  }
  // justify-content: flex-start;
}