.button {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  align-items: center;
}
.button-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button-label {
  padding-left: 1rem;
  font-weight: 400;
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
.button-image {
  width: 27px;

  &:hover {
    cursor: pointer;
  }
}