// .support-faq-container {
//   padding: 1rem 2rem;
// }
.faq-header {
  width: 300px;
  padding: 0 0 .5rem 2rem;
  text-align: left;
}
.support-faq-question {
  font-weight: 200;
  font-size: 14px;
  padding: 0 1rem;
}