@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
html,
body {
  height: 100%;
  width: 100%;
}

body {
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Hind', sans-serif;
}

body.fontLoaded {
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Hind', sans-serif;
}
.megasplash-container {
  background: #ECECEC;
  display: flex;
  justify-content: center;

  .megasplash-home {
    max-width: 1680px;    
  }
}
